USE [master]
GO
/****** Object:  Database [DB_VIVERO]    Script Date: 9/11/2021 23:17:48 ******/
CREATE DATABASE [DB_VIVERO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_VIVERO', FILENAME = N'C:\Users\Ruben\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\DB_VIVERO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_VIVERO_log', FILENAME = N'C:\Users\Ruben\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\DB_VIVERO.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_VIVERO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_VIVERO]
GO
USE [DB_VIVERO]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 9/11/2021 23:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[id_categoria] [tinyint] IDENTITY(1,1) NOT NULL,
	[categoria] [nvarchar](50) NOT NULL,
	[eliminado] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_id_categoria] PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [unica_categoria] UNIQUE NONCLUSTERED 
(
	[categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 9/11/2021 23:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[email] [nvarchar](50) NULL,
	[telefono] [nvarchar](20) NULL,
	[direccion] [nvarchar](50) NOT NULL,
	[provincia] [nvarchar](50) NOT NULL,
	[localidad] [nvarchar](50) NOT NULL,
	[eliminado] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_id_cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [unico_dni_cliente] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURAS]    Script Date: 9/11/2021 23:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURAS](
	[num_factura] [int] NOT NULL,
	[fecha_y_hora] [smalldatetime] NOT NULL,
	[id_vendedor] [smallint] NOT NULL,
	[id_FdePago] [tinyint] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[total] [float] NOT NULL,
	[anulado] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_num_factura] PRIMARY KEY CLUSTERED 
(
	[num_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURAS_DETALLE]    Script Date: 9/11/2021 23:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURAS_DETALLE](
	[num_factura] [int] NOT NULL,
	[id_item] [tinyint] NOT NULL,
	[id_producto] [int] NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[precio] [float] NOT NULL,
	[cantidad] [smallint] NOT NULL,
	[sub_total] [float] NOT NULL,
 CONSTRAINT [PK_num_factura_id_item] PRIMARY KEY CLUSTERED 
(
	[num_factura] ASC,
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMAS_DE_PAGO]    Script Date: 9/11/2021 23:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMAS_DE_PAGO](
	[id_FdePago] [tinyint] IDENTITY(1,1) NOT NULL,
	[FdePago] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_id_FdePago] PRIMARY KEY CLUSTERED 
(
	[id_FdePago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [unica_FdePago] UNIQUE NONCLUSTERED 
(
	[FdePago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFILES]    Script Date: 9/11/2021 23:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFILES](
	[id_perfil] [tinyint] IDENTITY(1,1) NOT NULL,
	[perfil] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_id_perfil] PRIMARY KEY CLUSTERED 
(
	[id_perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [unico_perfil] UNIQUE NONCLUSTERED 
(
	[perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 9/11/2021 23:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[id_categoria] [tinyint] NOT NULL,
	[id_tipo] [smallint] NOT NULL,
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](250) NOT NULL,
	[tamanio] [nvarchar](25) NOT NULL,
	[disponible] [nvarchar](2) NOT NULL,
	[stock_min] [tinyint] NOT NULL,
	[stock] [smallint] NOT NULL,
	[precio_lista] [float] NOT NULL,
	[precio_venta] [float] NOT NULL,
	[descuento] [tinyint] NOT NULL,
	[veces_vendido] [int] NOT NULL,
	[eliminado] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_producto] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [unico_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_DE_PRODUCTOS]    Script Date: 9/11/2021 23:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_DE_PRODUCTOS](
	[id_categoria] [tinyint] NOT NULL,
	[id_tipo] [smallint] IDENTITY(1,1) NOT NULL,
	[tipo] [nvarchar](50) NOT NULL,
	[eliminado] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_id_categoria_id_tipo] PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC,
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 9/11/2021 23:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[id_perfil] [tinyint] NOT NULL,
	[id_usuario] [smallint] IDENTITY(1,1) NOT NULL,
	[DNI] [int] NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[fecha_nac] [date] NOT NULL,
	[fecha_ingreso] [date] NOT NULL,
	[username] [nvarchar](25) NOT NULL,
	[contraseña] [nvarchar](25) NOT NULL,
	[direccion] [nvarchar](50) NOT NULL,
	[telefono] [nvarchar](20) NULL,
	[email] [nvarchar](50) NOT NULL,
	[eliminado] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [unico_dni] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [unico_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CATEGORIAS] ADD  DEFAULT ('NO') FOR [eliminado]
GO
ALTER TABLE [dbo].[CLIENTES] ADD  CONSTRAINT [DF_eliminado_cliente]  DEFAULT ('NO') FOR [eliminado]
GO
ALTER TABLE [dbo].[FACTURAS] ADD  CONSTRAINT [DF_anulado]  DEFAULT ('NO') FOR [anulado]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  CONSTRAINT [DF_vendido]  DEFAULT ((0)) FOR [veces_vendido]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  CONSTRAINT [DF_eliminado_prod]  DEFAULT ('NO') FOR [eliminado]
GO
ALTER TABLE [dbo].[TIPOS_DE_PRODUCTOS] ADD  CONSTRAINT [DF_eliminado]  DEFAULT ('NO') FOR [eliminado]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [DF_eliminado_user]  DEFAULT ('NO') FOR [eliminado]
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_factura_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTES] ([id_cliente])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FK_factura_cliente]
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_factura_FdePago] FOREIGN KEY([id_FdePago])
REFERENCES [dbo].[FORMAS_DE_PAGO] ([id_FdePago])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FK_factura_FdePago]
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_factura_usuario)] FOREIGN KEY([id_vendedor])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FK_factura_usuario)]
GO
ALTER TABLE [dbo].[FACTURAS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_detalle_facturas] FOREIGN KEY([num_factura])
REFERENCES [dbo].[FACTURAS] ([num_factura])
GO
ALTER TABLE [dbo].[FACTURAS_DETALLE] CHECK CONSTRAINT [FK_detalle_facturas]
GO
ALTER TABLE [dbo].[FACTURAS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_detalle_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[PRODUCTOS] ([id_producto])
GO
ALTER TABLE [dbo].[FACTURAS_DETALLE] CHECK CONSTRAINT [FK_detalle_producto]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_productos_tipo] FOREIGN KEY([id_categoria], [id_tipo])
REFERENCES [dbo].[TIPOS_DE_PRODUCTOS] ([id_categoria], [id_tipo])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_productos_tipo]
GO
ALTER TABLE [dbo].[TIPOS_DE_PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[CATEGORIAS] ([id_categoria])
GO
ALTER TABLE [dbo].[TIPOS_DE_PRODUCTOS] CHECK CONSTRAINT [FK_categoria]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_id_perfil] FOREIGN KEY([id_perfil])
REFERENCES [dbo].[PERFILES] ([id_perfil])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_id_perfil]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [CHK_dniLimiteCliente] CHECK  (([DNI]>(0) AND [DNI]<(50000000)))
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [CHK_dniLimiteCliente]
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [CHK_noNegativoF] CHECK  (([num_factura]>(0)))
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [CHK_noNegativoF]
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [CHK_noNegativoT] CHECK  (([total]>(0)))
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [CHK_noNegativoT]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [CHK_dniLimite] CHECK  (([DNI]>(0) AND [DNI]<(50000000)))
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [CHK_dniLimite]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [CHK_passLimite] CHECK  ((len([contraseña])>(7)))
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [CHK_passLimite]
GO
USE [master]
GO
